body {
    background: url(../img/fond.png);
    font-family: Arial, Helvetica, sans-serif;
}
#conteneur {
    background: rgb(240, 234, 237);
    width: 1200px;
    margin: 0 auto;
}
header {
}
.header {  
    background: rgb(139, 122, 46);
}
aside {
    width: 10%;
    height: 150px;
    float: left;
    margin: 10px;
}
section {
    width: 35%;
    height: 150px;
    float: left;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}
.aide {
    height: 150px;
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #33ccff;
}
.besoin h2 {
    color: #33ccff;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
.telephone {
    position: relative;
}
.telephone p {
    position: relative;
    bottom: 25px;
}
.form {
    background: #33ccff;
    width: 300px;
    height: 100px;
    float: left;
    margin: 0;
    padding: 0;
}
.form p {
    color: #fff;
    float: right;
    padding: 15px;
}
.img {
    padding: 10px;
}
input, textarea, select, button {
    text-align: center;
    font-size: 15px;
    background: #33ccff;
    width : 300px;
    margin: 0;
}
h1 {
    font-size: 45px;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}
h2 {
    /* width: 70%; */
    font-style: italic;
    /* font-weight: bold; */
    font-size: 18px;
    padding: 20px;
    color: #ff99cc;
}
nav {
    background: #33ccff;
    height: 25px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    color: #fff;
    background: #ff99cc;
    margin: 10px;
}
.active {
    background: #ff99cc;
    padding-bottom: 5px;
    padding-right: 30px;
    padding-left: 30px;
}
li {
    display: inline;
    padding: 40px;
}
.milieu {
    width: 1200px;
    display: inline-block;
}
.paiment {
    height: 150px;
    width: 25%;
    float: left;
}
.paiment h2, .qui h2, .services h2 {
    color: #33ccff;
    font-size: 22px;
    margin: 0;
    padding: 10px;
}
.paiment p {
    font-size: 19px;
    padding: 10px;
}
.qui {
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    width: 55%;
    height: 150px;
    float: left;
}
.qui p {
    text-align: left;
    font-size: 16px;
}
.services {
    height: 150px;
    width: 20%;
    float: left;
}
.services p {
    color: #000;
    float: right;
    padding: 5px;
}
.tableau {
    border: 1px solid #000;
    height: 180px;
    width: 380px;
    margin: 5px;
}
.tableau header {
    float: right;
}
.tableau header h2 {
    text-align: center;
    color: #000;
    position: relative;
    right: 150px;
    bottom: 20px;
}
.tableau p {
    text-align: justify;
    font-size: 15px;
}
.plan p {
    position: relative;
    top: 20px;
}
.coup p {
    position: relative;
    top: 20px;
}
.plaisir p {
    position: relative;
    bottom: 20px;

}
.robe {
    float: left;
    padding-top: 30px;
}
.talons {
    float: left;
    padding-top: 40px;
}
.chemise {
    position: relative;
    top: 40px;
    right: 60px;
}
.plan, .coup {
    width: 280px;
    height: 200px;
    position: relative;
    bottom: 30px;
    float:left;
}
.plaisir {
    width: 280px;
    position: relative;
    bottom: 30px;
    /* text-align: justify; */
    float: right;
}
.plan h2, .coup h2, .plaisir h2 {
    text-align: center;
    color: #000;
}
.tableau pa {
    text-align: right;
}
.navFooter {
    background: #33ccff;
}
.navFooter a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 0;
}
.navFooter a:hover {
    color: #fff;
    background: #ff99cc;
    margin: 0;
}
.navFooter li {
    display: inline;
    padding: 20px;
}
.clear {
    clear: both;
}
